<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/fashion.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light mb-5 pt-4 pb-4">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><b>RUQ</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse offset-1" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active pe-5" aria-current="page" href="landing.html">New In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active pe-5" href="fashion">Fashion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active pe-5" href="gadgets">Gadgets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active pe-5" href="#">Furniture</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active pe-5" href="#">Electronics</a>
              </li>
            </ul>
        </div>

        <form class="d-flex">
            <% if(currentUser) {%>
                <a style="color: black;" href=""> <i class="fa fa-search" aria-hidden="true"></i></a>
                <a style="color: black;" href="/cart"> <i class="fa fa-shopping-bag" aria-hidden="true"></i> </a>
                <% }else { %>
                    <a style="color: black;" href=""> <i class="fa fa-search" aria-hidden="true"></i></a>
                    <a style="color: black;" href="/cart"> <i class="fa fa-shopping-bag" aria-hidden="true"></i> </a>
                     <a style="color: black;" href="/login"> <i class="fa fa-user" aria-hidden="true"></i> </a>
                <% } %>

         </form>

          </div>
        </div>
      </nav>

      <% if(success && success.length) { %> 
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% } %> 
    
        <% if(error && error.length) { %> 
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= error %> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <% } %> 

      <main>
        <h5 class="numero"> <a style="text-decoration: none; color:black" href="hero.html">Home / </a> <b> <a style="text-decoration: none; color:black" href="newin.html"> Clothing </a></b></h5>
        <div class="ni-one">
            <h4>CLOTHING</h4>
            <p>Our clothing section is a fashion lover's paradise, offering a wide range of trendy apparel for all styles and occasions. From casual wear to formal attire, we have something for everyone. Browse through our curated collection of high-quality clothing, including dresses, tops, bottoms, and accessories, and elevate your wardrobe with the latest fashion trends.</p>
        
        </div>
        <div class="nuimg">
                <img src="images/clothing/untitled/Ellipse 4.png" alt="">
                <img src="images/clothing/untitled/Ellipse 5.png" alt="">
        </div>
        <div class="nununu">
            <h6 class="open-button" onclick="openForm()">Filters By</h6>
            <!-- <button class="open-button" onclick="openForm()">Open Form</button> -->

        <div class="form-popup" id="myForm">
        <form action="/action_page.php" class="form-container">
            <h5>FILTER</h5>
            <div class="ma">
                <div class="dropdown">
                    <button class="dropbtn">Sort By Brand</button>
                    <div class="dropdown-content">
                    <a href="fashion?brand=Zara">Zara</a>
                    <a href="fashion?brand=Asos">Asos</a>
                    <a href="fashion?brand=Balmain">Balmain</a>
                    </div>
                </div>

        </div>
        <div class="ma">
            <label for="">Price: High To Low</label>
            <input type="checkbox" name="htl"> 
        </div>
        <div class="ma">
            <label for="">Price: Low To High</label>
            <input type="checkbox" name="lth">
        </div>

    <button type="submit" class="btn">Apply Filters</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
            <h6 id="hide">350 Item(s)</h6>
            <h6 id="hide">Sort By: Must Have</h6>
        </div>
        <div class="container">
        <div class="content">
            <div class="imgs">
                <% for(invent of inventories) { %>
                <div style="margin-right: 20px;">
                    <div>
                        <img src="<%=invent.image[0].url %>" alt="">
                    </div>
                        <sub>
                            <small class="bb">Category: Fashion </small> <small><span><%=invent.price %></span></small> <br>
                            <small><a style="color: black; text-decoration:none" href="/list/<%=invent._id %>"> <%=invent.brand%> <%=invent.name%> </a></small>
                       </sub>
                </div>
                <% } %>

              </div>
        </div>
        <div class="content">
            <div class="imgs">
                <% for(invent of inventoriess) { %>
                <div style="margin-right: 20px;">
                    <div>
                        <img src="<%=invent.image[0].url %>" alt="">
                    </div>
                        <sub>
                            <small class="bb">Category: Fashion </small> <small><span><%=invent.price %></span></small> <br>
                            <small><a style="color: black; text-decoration:none" href="/list/<%=invent._id %>"> <%=invent.brand%> <%=invent.name%> </a></small>
                       </sub>
                </div>
                <% } %>
              </div>
        </div>
        <div class="content">
            <div class="imgs">
                <% for(invent of inventoriesss) { %>
                <div style="margin-right: 20px;">
                    <div>
                        <img src="<%=invent.image[0].url %>" alt="">
                    </div>
                        <sub>
                            <small class="bb">Category: Fashion </small> <small><span><%=invent.price %></span></small> <br>
                            <small><a style="color: black; text-decoration:none" href="/list/<%=invent._id %>"> <%=invent.brand%> <%=invent.name%> </a></small>
                       </sub>
                </div>
                <% } %>
              </div>
        </div>
         <div class="content">
            <div class="imgs">
                <% for(invent of inventoriessss) { %>
                <div style="margin-right: 20px;">
                    <div>
                        <img src="<%=invent.image[0].url %>" alt="">
                    </div>
                        <sub>
                            <small class="bb">Category: Fashion </small> <small><span><%=invent.price %></span></small> <br>
                            <small><a style="color: black; text-decoration:none" href="/list/<%=invent._id %>"> <%=invent.brand%> <%=invent.name%> </a></small>
                       </sub>
                </div>
                <% } %>
              </div>
        </div>
         <div class="content">
            <div class="imgs">
                <% for(invent of inventoriesssss) { %>
                <div style="margin-right: 20px;">
                    <div>
                        <img src="<%=invent.image[0].url %>" alt="">
                    </div>
                        <sub>
                            <small class="bb">Category: Fashion </small> <small><span><%=invent.price %></span></small> <br>
                            <small><a style="color: black; text-decoration:none" href="/list/<%=invent._id %>"> <%=invent.brand%> <%=invent.name%> </a></small>
                       </sub>
                </div>
                <% } %>
              </div>
        </div>
        <div class="content">
            <div class="imgs">
                <% for(invent of inventoriessssss) { %>
                <div style="margin-right: 20px;">
                    <div>
                        <img src="<%=invent.image[0].url %>" alt="">
                    </div>
                        <sub>
                            <small class="bb">Category: Fashion </small> <small><span><%=invent.price %></span></small> <br>
                            <small><a style="color: black; text-decoration:none" href="/list/<%=invent._id %>"> <%=invent.brand%> <%=invent.name%> </a></small>
                       </sub>
                </div>
                <% } %>
              </div>
        </div>
        <div class="content">
            <div class="imgs">
                <% for(invent of inventoriesssssss) { %>
                <div style="margin-right: 20px;">
                    <div>
                        <img src="<%=invent.image[0].url %>" alt="">
                    </div>
                        <sub>
                            <small class="bb">Category: Fashion </small> <small><span><%=invent.price %></span></small> <br>
                            <small><a style="color: black; text-decoration:none" href="/list/<%=invent._id %>"> <%=invent.brand%> <%=invent.name%> </a></small>
                       </sub>
                </div>
                <% } %>
              </div>
        </div>
        <div class="content">
            <div class="imgs">
                <% for(invent of inventoriessssssss) { %>
                <div style="margin-right: 20px;">
                    <div>
                        <img src="<%=invent.image[0].url %>" alt="">
                    </div>
                        <sub>
                            <small class="bb">Category: Fashion </small> <small><span><%=invent.price %></span></small> <br>
                            <small><a style="color: black; text-decoration:none" href="/list/<%=invent._id %>"> <%=invent.brand%> <%=invent.name%> </a></small>
                       </sub>
                </div>
                <% } %>
              </div>
        </div>
        <div class="content">
            <div class="imgs">
                <% for(invent of inventoriesssssssss) { %>
                <div style="margin-right: 20px;">
                    <div>
                        <img src="<%=invent.image[0].url %>" alt="">
                    </div>
                        <sub>
                            <small class="bb">Category: Fashion </small> <small><span><%=invent.price %></span></small> <br>
                            <small><a style="color: black; text-decoration:none" href="/list/<%=invent._id %>"> <%=invent.brand%> <%=invent.name%> </a></small>
                       </sub>
                </div>
                <% } %>
              </div>
        </div>

    </div>
        <!-- <div class="content">
        <div class="imgss">
            <div style="margin-right: 20px;">
                <div>
                    <img src="images/clothing/untitled/Rectangle 153.png" alt="">
                </div>
                    <sub>
                        <small>Category: Women's Fashion <span>N90,000</span></small> <br>
                       <small>Lastra Fashion Thich Dress</small>
                   </sub>
            </div>
            <div style="margin-right: 20px;">
                <div>
                    <img src="images/clothing/untitled/Rectangle 154.png" alt="">
                </div>
                    <sub>
                        <small>Category: Men's Fashion<span>N130,000</span></small> <br>
                       <small>Zara Two Piece Set</small>
                   </sub>
            </div>
            <div>
                <div>
                    <img src="images/clothing/untitled/Rectangle 155.png" alt="">
                </div>
                    <sub>
                        <small>Category: Men's Fashion <span>N210,000</span></small> <br>
                       <small> Dashiki Two Piece Set</small>
                   </sub>
            </div>
        </div>
        </div>
        <div class="content">
        <div class="imgss">
            <div style="margin-right: 20px;">
                <div>
                    <img src="images/clothing/untitled/Rectangle 156.png" alt="">
                </div>
                    <sub>
                        <small>Category: Men's Fashion <span>N90,000</span></small> <br>
                       <small>Zara Men Two Piece Set</small>
                   </sub>
            </div>
            <div style="margin-right: 20px;">
                <div>
                    <img src="images/clothing/untitled/Rectangle 157.png" alt="">
                </div>
                    <sub>
                        <small>Category: Women's Fashion<span>N16,000</span></small> <br>
                       <small>Polite Society Green Two Piece Shirt</small>
                   </sub>
            </div>
            <div>
                <div>
                    <img src="images/clothing/untitled/Rectangle 158.png" alt="">
                </div>
                    <sub>
                        <small>Category: Women's Fashion <span>N20,000</span></small> <br>
                       <small> SHein Belted 2 in 1 Top</small>
                   </sub>
            </div>
        </div>
        </div>
        <div class="content">
        <div class="imgss">
            <div style="margin-right: 20px;">
                <div>
                    <img src="images/clothing/untitled/Rectangle 159.png" alt="">
                </div>
                    <sub>
                        <small>Category: Men's Fashion <span>N15,000</span></small> <br>
                       <small>Asos Knitted Men Shirt</small>
                   </sub>
            </div>
            <div style="margin-right: 20px;">
                <div>
                    <img src="images/clothing/untitled/Rectangle 160.png" alt="">
                </div>
                    <sub>
                        <small>Category: Men's Fashion<span>N130,000</span></small> <br>
                       <small>Asos Combat Neon Green Two Piece</small>
                   </sub>
            </div>
            <div>
                <div>
                    <img src="images/clothing/untitled/Rectangle 161.png" alt="">
                </div>
                    <sub>
                        <small>Category: Men's Fashion <span>N98,000</span></small> <br>
                       <small> COS High Summer Two Piece Set</small>
                   </sub>
            </div>
        </div>
        </div>
        <div class="content">
        <div class="imgss">
            <div style="margin-right: 20px;">
                <div>
                    <img src="images/clothing/untitled/Rectangle 162.png" alt="">
                </div>
                    <sub>
                        <small>Category: Men's Fashion <span>N50,000</span></small> <br>
                       <small>Essential Grey Hoodie</small>
                   </sub>
            </div>
            <div style="margin-right: 20px;">
                <div>
                    <img src="images/clothing/untitled/Rectangle 163.png" alt="">
                </div>
                    <sub>
                        <small>Category: Women's Fashion<span>N16,000</span></small> <br>
                       <small>TRM Two Piece Set</small>
                   </sub>
            </div>
            <div>
                <div>
                    <img src="images/clothing/untitled/Rectangle 164.png" alt="">
                </div>
                    <sub>
                        <small>Category: Men's Fashion <span>N210,000</span></small> <br>
                       <small> Asos Knitted Mesh Two Piece </small>
                   </sub>
            </div>
        </div>
        </div>
        <div class="content">
        <div class="imgss">
            <div style="margin-right: 20px;">
                <div>
                    <img src="images/clothing/untitled/Rectangle 172.png" alt="">
                </div>
                    <sub>
                        <small>Category: Men's Fashion <span>N55,000</span></small> <br>
                       <small>New Chic Mens Casual Two Piece</small>
                   </sub>
            </div>
            <div style="margin-right: 20px;">
                <div>
                    <img src="images/clothing/untitled/Rectangle 173.png" alt="">
                </div>
                    <sub>
                        <small>Category: Women's Fashion<span>N160,000</span></small> <br>
                       <small>M&M Wavy Crystal Trimmed Wool Two Piece Set</small>
                   </sub>
            </div>
            <div>
                <div>
                    <img src="images/clothing/untitled/Rectangle 174.png" alt="">
                </div>
                    <sub>
                        <small>Category: Women's Fashion <span>N116,000</span></small> <br>
                       <small> Monse Belted Herringbone Jacket Dress</small>
                   </sub>
            </div>
        </div>
        </div>
        <div class="content">
        <div class="imgss">
            <div style="margin-right: 20px;">
                <div>
                    <img src="images/clothing/untitled/Rectangle 175.png" alt="">
                </div>
                    <sub>
                        <small>Category: Women's Fashion <span>N30,000</span></small> <br>
                       <small>Fillyboo Blue Bohemain Inspired Top</small>
                   </sub>
            </div>
            <div style="margin-right: 20px;">
                <div>
                    <img src="images/clothing/untitled/Rectangle 176.png" alt="">
                </div>
                    <sub>
                        <small>Category: Women's Fashion<span>N80,000</span></small> <br>
                       <small>Asos Knitted Two Piece Set</small>
                   </sub>
            </div>
            <div>
                <div>
                    <img src="images/clothing/untitled/Rectangle 177.png" alt="">
                </div>
                    <sub>
                        <small>Category: Men's Fashion <span>N73,000</span></small> <br>
                       <small> JBI Sander Cream Shirt</small>
                   </sub>
            </div>
        </div>
        </div>
        <div class="content">
        <div class="imgss">
            <div style="margin-right: 20px;">
                <div>
                    <img src="images/clothing/untitled/Rectangle 178.png" alt="">
                </div>
                    <sub>
                        <small>Category: Women's Fashion <span>N20,000</span></small> <br>
                       <small>Naya Rea Simons Skirt</small>
                   </sub>
            </div>
            <div style="margin-right: 20px;">
                <div>
                    <img src="images/clothing/untitled/Rectangle 179.png" alt="">
                </div>
                    <sub>
                        <small>Category: Women's Fashion<span>N160,000</span></small> <br>
                       <small>Zara Floral Blue Sheer Dress</small>
                   </sub>
            </div>
            <div>
                <div>
                    <img src="images/clothing/untitled/Rectangle 180.png" alt="">
                </div>
                    <sub>
                        <small>Category: Women's Fashion <span>N260,000</span></small> <br>
                       <small> Balmain Blazer Dress</small>
                   </sub>
            </div>
        </div>
        </div>
        <div class="content">
        <div class="imgss">
            <div style="margin-right: 20px;">
                <div>
                    <img src="images/clothing/untitled/Rectangle 181.png" alt="">
                </div>
                    <sub>
                        <small>Category: Men's Fashion <span>N55,000</span></small> <br>
                       <small>Zara Striped Button Up Black Shirt</small>
                   </sub>
            </div>
            <div style="margin-right: 20px;">
                <div>
                    <img src="images/clothing/untitled/Rectangle 182.png" alt="">
                </div>
                    <sub>
                        <small>Category: Women's Fashion<span>N160,000</span></small> <br>
                       <small>House of Cb Pink Riffled Dress</small>
                   </sub>
            </div>
            <div>
                <div>
                    <img src="images/clothing/untitled/Rectangle 183.png" alt="">
                </div>
                    <sub>
                        <small>Category: Women's Fashion <span>N116,000</span></small> <br>
                       <small> Zara Knitted White Crop Top</small>
                   </sub>
            </div>
        </div>
        </div>
        <div class="content">
        <div class="imgss">
            <div style="margin-right: 20px;">
                <div>
                    <img src="images/clothing/untitled/Rectangle 184.png" alt="">
                </div>
                    <sub>
                        <small>Category: Men's Fashion <span>N55,000</span></small> <br>
                       <small>Zara Striped Button Up Black Shirt</small>
                   </sub>
            </div>
            <div style="margin-right: 20px;">
                <div>
                    <img src="images/clothing/untitled/Rectangle 185.png" alt="">
                </div>
                    <sub>
                        <small>Category: Women's Fashion<span>N160,000</span></small> <br>
                       <small>House of Cb Pink Riffled Dress</small>
                   </sub>
            </div>
            <div>
                <div>
                    <img src="images/clothing/untitled/Rectangle 186.png" alt="">
                </div>
                    <sub>
                        <small>Category: Women's Fashion <span>N116,000</span></small> <br>
                       <small> Zara Knitted White Crop Top</small>
                   </sub>
            </div>
        </div> -->
        <!-- </div> -->

         <a href="#" id="loadMore">Load More</a>

        </div>
        <hr>

        <!-- <div class="last-sec">
            <h5>CURRENTLY DISPLAYING 1-21 OF 350 ITEMS</h5>
            <button>LOAD MORE ITEMS</button>
        </div> -->


      </main>
      <footer class="d-flex justify-content-between">
        <div class="logo-footer">
            <b>RUQ</b>
                <p>Balling on a budget</p>
        </div>
        <div class="fix-three">
            <h6> <b>INFORMATION</b></h6>
            <ul>
                <li>MY ACCOUNT</li>
                <li>DELIVERY INFORMATION</li>
                <li>SIZE GUIDE</li>
                <li>RETURNS</li>
                <li>FAQ'S</li>
            </ul>
        </div>
        <div class="fix-two">
            <h6> <b>ABOUT RUQ</b></h6>
            <ul>
                <li>ABOUT US</li>
                <li>CONTACT US</li>
                <li>CAREERS</li>
                <li>DONATE FOR A DISCOUNT</li>
                <li>SUSTAINABLITY</li>
            </ul>
        </div>
        <div class="fix-one">
            <h6> <b>RESOURCES</b></h6>
            <ul>
                <li>BLOG</li>
                <li>HELP AND SUPPORT</li>
                <li>REVIEWS</li>
                <li>FEATURES</li>
                <li>PRODUCTS</li>
            </ul>
        </div>
        <div class="paragraph">
            <div class="pa">
            <p>Sign up for our newsletter, don't miss out on our </p> <br>
            <p> new product drops or exclusive offers <p>
            </div>
                <div class="last input-group mb-3">
                    <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2">Subscribe</span>
                  </div>
        </div>
        
    </footer>
    <script src="/javascripts/scroll.js"></script>
</body>
</html>