<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/newin.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light mb-5 pt-4 pb-4">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><b>RUQ</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse offset-1" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active pe-5" aria-current="page" href="newin">New In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active pe-5" href="fashion">Fashion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active pe-5" href="gadgets">Gadgets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active pe-5" href="#">Furniture</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active pe-5" href="#">Electronics</a>
              </li>
            </ul>
        </div>

        <form class="d-flex">
            <% if(currentUser) {%>
                <a style="color: black;" href=""> <i class="fa fa-search" aria-hidden="true"></i></a>
                <a style="color: black;" href="/cart"> <i class="fa fa-shopping-bag" aria-hidden="true"></i> </a>
                <% }else { %>
                    <a style="color: black;" href=""> <i class="fa fa-search" aria-hidden="true"></i></a>
                    <a style="color: black;" href="/cart"> <i class="fa fa-shopping-bag" aria-hidden="true"></i> </a>
                     <a style="color: black;" href="/login"> <i class="fa fa-user" aria-hidden="true"></i> </a>
                <% } %>

         </form>
          </div>
        </div>
      </nav>

      <% if(success && success.length) { %> 
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% } %> 
    
        <% if(error && error.length) { %> 
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= error %> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <% } %> 

      <main>
        <h5 class="numero"> <a style="text-decoration: none; color:black" href="hero.html">Home / </a> <b> <a style="text-decoration: none; color:black" href="newin.html"> New In </a></b></h5>
        <div class="ni-one">
            <h4>ALL NEW IN</h4>
            <p>
                The new "New In" page of our shopping website showcases the latest arrivals in fashion, electronics, home decor, and more. Discover trendy clothing, cutting-edge gadgets, and stylish home accents. Stay ahead of the curve with our constantly updated selection of products, ensuring you never miss out on the newest and most exciting items in the market.</p>
            <div class="nunu">
            <div class="oneone">
               <li> <a href="">Men's Fashion</a></li>
               <li> <a href="">Women's Fashion</a></li>
               <li> <a href="">Sneakers</a> </li>
            </div>
            <div class="twotwo">
                <li> <a href="">Hoodies</a></li>
                <li> <a href="">Bags</a></li>
                <li> <a href="">Gadgets</a> </li> 
            </div>
            <div class="threethree">
                <li> <a href="">WristWatches</a></li>
                <li> <a href="">Slides</a></li>
                <li> <a href="">Shoes</a> </li> 
            </div>
            <div class="fourfour">
                <li> <a href="">Two Piece Set</a></li>
                <li> <a href="">Furnitures</a></li>
                <li> <a href="">Electronics</a> </li> 
            </div>
        </div>
        </div>
        <div class="nununu">
            <h6>All New In</h6>
            <h6>50 Item(s)</h6>
            <h6>Sort By: Must Have</h6>
        </div>
        <div class="container">
            <div class="content">
                <div class="imgs">
                    <% for(invent of inventories) { %>
                    <div style="margin-right: 20px;">
                        <div>
                            <img src="<%=invent.image[0].url %>" alt="">
                        </div>
                            <sub>
                                <small>Category: Gadgets <span><%=invent.price %></span></small> <br>
                                <small><a style="color: black; text-decoration:none" href="/list/<%=invent._id %>"> <%=invent.brand%> <%=invent.name%> </a></small>
                           </sub>
                    </div>
                    <% } %>
    
                  </div>
            </div>
            <div class="content">
                <div class="imgs">
                    <% for(invent of inventoriess) { %>
                    <div style="margin-right: 20px;">
                        <div>
                            <img src="<%=invent.image[0].url %>" alt="">
                        </div>
                            <sub>
                                <small>Category: Gadgets <span><%=invent.price %></span></small> <br>
                                <small><a style="color: black; text-decoration:none" href="/list/<%=invent._id %>"> <%=invent.brand%> <%=invent.name%> </a></small>
                           </sub>
                    </div>
                    <% } %>
    
                  </div>
            </div>
            <div class="content">
                <div class="imgs">
                    <% for(invent of inventoriesss) { %>
                    <div style="margin-right: 20px;">
                        <div>
                            <img src="<%=invent.image[0].url %>" alt="">
                        </div>
                            <sub>
                                <small>Category: Gadgets <span><%=invent.price %></span></small> <br>
                                <small><a style="color: black; text-decoration:none" href="/list/<%=invent._id %>"> <%=invent.brand%> <%=invent.name%> </a></small>
                           </sub>
                    </div>
                    <% } %>
    
                  </div>
            </div>
            <div class="content">
                <div class="imgs">
                    <% for(invent of inventoriessss) { %>
                    <div style="margin-right: 20px;">
                        <div>
                            <img src="<%=invent.image[0].url %>" alt="">
                        </div>
                            <sub>
                                <small>Category: Gadgets <span><%=invent.price %></span></small> <br>
                                <small><a style="color: black; text-decoration:none" href="/list/<%=invent._id %>"> <%=invent.brand%> <%=invent.name%> </a></small>
                           </sub>
                    </div>
                    <% } %>
    
                  </div>
            </div>
            <div class="content">
                <div class="imgs">
                    <% for(invent of inventoriesssss) { %>
                    <div style="margin-right: 20px;">
                        <div>
                            <img src="<%=invent.image[0].url %>" alt="">
                        </div>
                            <sub>
                                <small>Category: Gadgets <span><%=invent.price %></span></small> <br>
                                <small><a style="color: black; text-decoration:none" href="/list/<%=invent._id %>"> <%=invent.brand%> <%=invent.name%> </a></small>
                           </sub>
                    </div>
                    <% } %>
    
                  </div>
            </div>
            <div class="content">
                <div class="imgs">
                    <% for(invent of inventoriessssss) { %>
                    <div style="margin-right: 20px;">
                        <div>
                            <img src="<%=invent.image[0].url %>" alt="">
                        </div>
                            <sub>
                                <small>Category: Gadgets <span><%=invent.price %></span></small> <br>
                                <small><a style="color: black; text-decoration:none" href="/list/<%=invent._id %>"> <%=invent.brand%> <%=invent.name%> </a></small>
                           </sub>
                    </div>
                    <% } %>
    
                  </div>
            </div>
            <div class="content">
                <div class="imgs">
                    <% for(invent of inventoriesssssss) { %>
                    <div style="margin-right: 20px;">
                        <div>
                            <img src="<%=invent.image[0].url %>" alt="">
                        </div>
                            <sub>
                                <small>Category: Gadgets <span><%=invent.price %></span></small> <br>
                                <small><a style="color: black; text-decoration:none" href="/list/<%=invent._id %>"> <%=invent.brand%> <%=invent.name%> </a></small>
                           </sub>
                    </div>
                    <% } %>
    
                  </div>
            </div>

        <a href="#" id="loadMore">Load More</a>
    </div>
        <hr>

        <!-- <div class="last-sec">
            <h5>CURRENTLY DISPLAYING 1-21 OF 350 ITEMS</h5>
            <button id="load-more"> LOAD MORE ITEMS </button>
        </div> -->


      </main>
      <footer class="d-flex justify-content-between">
        <div class="logo-footer">
            <b>RUQ</b>
                <p>Balling on a budget</p>
        </div>
        <div class="fix-three">
            <h6> <b>INFORMATION</b></h6>
            <ul>
                <li>MY ACCOUNT</li>
                <li>DELIVERY INFORMATION</li>
                <li>SIZE GUIDE</li>
                <li>RETURNS</li>
                <li>FAQ'S</li>
            </ul>
        </div>
        <div class="fix-two">
            <h6> <b>ABOUT RUQ</b></h6>
            <ul>
                <li>ABOUT US</li>
                <li>CONTACT US</li>
                <li>CAREERS</li>
                <li>DONATE FOR A DISCOUNT</li>
                <li>SUSTAINABLITY</li>
            </ul>
        </div>
        <div class="fix-one">
            <h6> <b>RESOURCES</b></h6>
            <ul>
                <li>BLOG</li>
                <li>HELP AND SUPPORT</li>
                <li>REVIEWS</li>
                <li>FEATURES</li>
                <li>PRODUCTS</li>
            </ul>
        </div>
        <div class="paragraph">
            <div class="pa">
            <p>Sign up for our newsletter, don't miss out on our </p> <br>
            <p> new product drops or exclusive offers <p>
            </div>
                <div class="last input-group mb-3">
                    <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2">Subscribe</span>
                  </div>
        </div>
        
    </footer>


    <script src="/javascripts/scroll.js"></script>
</body>
</html>