<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/show.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light mb-5 pt-4 pb-4">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><b>RUQ</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse offset-1" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active pe-5" aria-current="page" href="/newin">New In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active pe-5" href="/fashion">Fashion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active pe-5" href="/gadgets">Gadgets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active pe-5" href="#">Furniture</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active pe-5" href="#">Electronics</a>
              </li>
            </ul>
        </div>

        <form class="d-flex">
            <% if(currentUser) {%>
                <a style="color: black;" href=""> <i class="fa fa-search" aria-hidden="true"></i></a>
                <a style="color: black;" href="/cart"> <i class="fa fa-shopping-bag" aria-hidden="true"></i> </a>
                <% }else { %>
                    <a style="color: black;" href=""> <i class="fa fa-search" aria-hidden="true"></i></a>
                    <a style="color: black;" href="/cart"> <i class="fa fa-shopping-bag" aria-hidden="true"></i> </a>
                     <a style="color: black;" href="/login"> <i class="fa fa-user" aria-hidden="true"></i> </a>
                <% } %>

         </form>
          </div>
        </div>
      </nav>

      <main>
        
        <% if(success && success.length) { %> 
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= success %> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <% } %> 
        
            <% if(error && error.length) { %> 
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= error %> 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                <% } %> 
        
        <h5 class="numero">Home / <b> New In </b> / <b> <%=inventory.category%> </b></h5>
        <div class="nunew">
            <div class="nuone">
                    <img src="<%= inventory.image[0].url %>" class="nunewone" alt="...">
                    <img src="<%= inventory.image[0].url %>" class="nunewtwo" alt="...">
                    <img src="<%= inventory.image[0].url %>" class="nunewthree" alt="...">
                    <img src="<%= inventory.image[0].url %>" class="nunewfour" alt="...">
            </div>
            <div class="nutwo">
            <h5><%=inventory.brand %></h5>
            <h6><%=inventory.name%></h6>
            <!-- <h6>Item # <%=inventory._id%></h6> -->
            <h5><b>N<%=inventory.price%></b></h5>
            <a href="/list/<%=inventory._id%>/reviews">Check Reviews</a> <hr>
            <!-- <p>UK Size: Model wears a size 6 and is 5'10. <span>Size Chart</span></p> -->
            <!-- <div class="nutton">
                <button>4</button>
                <button>6</button>
                <button>8</button>
                <button>10</button>
                <button>12</button>
                <button>14</button>
                <button>16</button>
            </div> -->
            <div class="nutton1">
                <button>Buy Now</button>
                 <a href="/cart/add-to-cart/<%=inventory._id%>" class="btn btn-raised btn-success pull-right">Add To Cart</a> 
            </div>
            <h6>ABOUT</h6>
            <p><%=inventory.specifications%></p> <br>
            <!-- <h6>FABRIC DETAILS</h6> -->
            <h6>DELIVERY</h6>
            <p>Delivery takes 3-5 working days.</p>
            </div>
        </div>
        <div>
            <div><h5 class="uno">YOU WILL LOVE THESE TOO</h5> <H5 class="unos">NEW IN</H5></div>
            <div class="imgss">
                <div>
                    <div>
                        <img src="<%=inventories[0].image[0].url%>" alt="">
                    </div>
                        <sub>
                            <small><a href="/list/<%=inventories[0]._id %>">View <%=inventories[0].brand%> <%=inventories[0].name %></a> <span>N<%=inventories[0].price%></span></small> <br>
                       </sub>
                </div>
                <div>
                    <div>
                        <img src="<%=inventories[1].image[0].url%>" alt="">

                    </div>
                        <sub>
                            <small><a href="/list/<%=inventories[1]._id %>">View <%=inventories[1].brand%> <%=inventories.brand%> <%=inventories[1].name %></a> <span>N<%=inventories[1].price%></span></small> <br>
                       </sub>
                </div>
                <div>
                    <div>
                        <img src="<%=inventories[2].image[0].url%>" alt="">
                    </div>
                        <sub>
                            <small><a href="/list/<%=inventories[2]._id %>">View <%=inventories[2].brand%> <%=inventories[2].name %></a> <span>N<%=inventories[2].price%></span></small> <br>
                       </sub>
                </div>
            </div>
        </div>
      </main>

      <footer class="d-flex justify-content-between">
        <div class="logo-footer">
            <b>RUQ</b>
                <p>Balling on a budget</p>
        </div>
        <div class="fix-three">
            <h6> <b>INFORMATION</b></h6>
            <ul>
                <li>MY ACCOUNT</li>
                <li>DELIVERY INFORMATION</li>
                <li>SIZE GUIDE</li>
                <li>RETURNS</li>
                <li>FAQ'S</li>
            </ul>
        </div>
        <div class="fix-two">
            <h6> <b>ABOUT RUQ</b></h6>
            <ul>
                <li>ABOUT US</li>
                <li>CONTACT US</li>
                <li>CAREERS</li>
                <li>DONATE FOR A DISCOUNT</li>
                <li>SUSTAINABLITY</li>
            </ul>
        </div>
        <div class="fix-one">
            <h6> <b>RESOURCES</b></h6>
            <ul>
                <li>BLOG</li>
                <li>HELP AND SUPPORT</li>
                <li>REVIEWS</li>
                <li>FEATURES</li>
                <li>PRODUCTS</li>
            </ul>
        </div>
        <div class="paragraph">
            <div class="pa">
            <p>Sign up for our newsletter, don't miss out on our </p> <br>
            <p> new product drops or exclusive offers <p>
            </div>
                <div class="last input-group mb-3">
                    <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2">Subscribe</span>
                  </div>
        </div>
        
    </footer>

</body>
</html>